@import "../fonts/fonts.css";

:root {
  --white-color: rgba(255, 255, 255, 1);
  --white-grey-color: #f2f7f7;
  --black-color: rgba(2, 2, 2, 1);
  --red-color: #f94233;
  --red-orange-gradient: linear-gradient(to right, #ffaa00, #f94233);
  --yellow-color: #ffaa00;
  --pure-yellow-color: #ffc800;
  --orange-color: #f98233;
  --light-grey-color: #e1eced;
  --grey-color: #bccdd1;
  --dark-grey-color: #b2b5b8;
  --blue-color: #2e09e6;
  --blue-gradient-color: linear-gradient(to bottom, #00fbff, #0051ff);
  --light-blue-color: #59cdff;
  --pure-blue-color: #007bff;
  --purple-color: #ab4cff;
  --pink-color: #fc61be;
  --green-color: #6ba829;
  --light-green-color: #4ec9a8;
  --brown-color: #af6708;
  --almost-grey-color: #dee2e3;
  --pure-gray-color: #949c9e;
  --font-inter: "Inter", sans-serif;
  --font-alshaus: "ALS Hauss", sans-serif;
  --rainbow-color: linear-gradient(to right, #ffe02f, #00d0cd, #9d00ff);
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 1433px;
}

main {
  min-height: 82vh;
}

h1,
h2,
h3,
p {
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
  color: inherit;
}

h1 {
  font-family: var(--font-inter);
  font-size: 55.6px;
  font-weight: 700;
  line-height: 55.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 44px;
}

h1.alshauss {
  font-family: var(--font-alshaus);
  font-size: 40px;
  font-weight: 850;
  line-height: 32px;
  letter-spacing: -0.01em;
}

h2.alshauss {
  font-family: var(--font-alshaus);
  font-size: 18px;
  font-weight: 550;
  line-height: 18px;
  letter-spacing: -0.01em;
}

p.alshaus {
  font-family: var(--font-alshaus);
  font-size: 18px;
  font-weight: 550;
  line-height: 18px;
  letter-spacing: -0.01em;
}

p.inter {
  font-family: var(--font-inter);
  font-size: 21px;
  font-weight: 600;
  line-height: 22px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

p.price {
  font-family: var(--font-inter);
  font-size: 39px;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

p.small {
  font-family: var(--font-inter);
  font-size: 15px;
  font-weight: 550;
}

p.medium {
  font-family: var(--font-inter);
  font-size: 22px;
  line-height: 22px;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
