

:root {
  --red-color: #F94233;
  --yellow-color: #FFAA00;
  --grey-color: #BCCDD1;
  --blue-color: #2E09E6;
  --font-inter: 'Inter Variable', sans-serif;
  --font-alshaus: 'ALS Hauss', sans-serif;
}

h1 {
  font-family: 'Inter Variable', sans-serif;
}

h2 {
  font-family: 'ALS Hauss', sans-serif;
}