.productInfo {
  display: flex;
  flex-direction: row;
  margin: 2px 12px 0;
}

.productText {
  margin-top: 3px;
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    align-items: center;

    .productTitle {
      margin-right: 16px;
    }
  }

  .productSubTitle {
    text-align: left;
    max-height: 54px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
  }
}

.productNumbers {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .productNumbersContainer {
    display: flex;
    padding-bottom: 8px;
    justify-content: space-between;
  }

  .productPriceInfo {
    display: flex;
    flex-direction: row;
    justify-content: start;

    .price {
      text-align: center;
    }

    .oldPrice {
      color: var(--light-grey-color);
      min-width: 48px;
      text-align: left;
      align-self: end;
      text-decoration: line-through;
    }
  }

  .productQuality {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    min-width: 55px;

    .productRating {
      position: relative;
      max-width: 39px;
      padding-left: 15px;

      &::before {
        content: "";
        position: absolute;
        right: -4px;
        top: 3px;
        width: 17px;
        height: 14px;
        background-image: url("./images/star.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .productLikes {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        top: 4px;
        width: 14px;
        height: 14px;
        background-image: url("./images/heart.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .buttonContainer {
    width: 294px;
    height: 54px;
  }

  &.small {
    width: 10px;

    .productNumbersContainer {
      justify-content: space-between;
      padding: 0;
      max-width: 259px;
      .productPriceInfo {
        margin-right: 12px;
      }
    }

    .buttonContainer {
      max-width: 152px;
      height: 45px;
    }

    .titleTypeSmall {
      text-align: left;
      font-weight: normal;
      text-overflow: ellipsis;
      height: 14px;
      padding-bottom: 14px;
      display: block;
      max-height: 54px;
      overflow: hidden;
      white-space: nowrap;
      max-width: 259px;
    }

    .productLikes::before {
      background-image: url("./images/heart-white.svg") !important;
    }

    .productRating::before {
      background-image: url("./images/star-white.svg") !important;
    }
  }
}
