.productInfo {
  display: flex;
  flex-direction: row;
  margin: 2px 12px 0;

  @media (max-width: 610px) {
    flex-direction: column;
  }
}

.productText {
  grid-area: "productText";
  margin-top: 2.5px;
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    align-items: center;

    .productTitle {
      margin-right: 16px;
    }
  }

  .productSubTitle {
    text-align: left;
    max-height: 54px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
  }

  @media (max-width: 1048px) {
    .productTitle {
      font-size: 40px;
      line-height: 30px;
    }

    .productSubTitle {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (max-width: 1180px) {
    .productTitle {
      font-size: 30px;
      font-weight: 550;
      line-height: 22px;
    }

    .productSubTitle {
      font-size: 16px;
      font-weight: 412;
      line-height: 16px;
    }
  }

  @media (max-width: 825px) {
    .productTitle {
      font-size: 22px;
      font-weight: 550;
      line-height: 22px;
    }

    .productSubTitle {
      font-size: 16px;
      font-weight: 412;
      line-height: 16px;
    }

    &.small {
      .productTitle {
        font-size: 15px;
        font-weight: 550;
        line-height: 15px;
      }
    }
  }
}

.productNumbers {
  display: flex;
  flex-direction: column;

  .productNumbersContainer {
    display: flex;
    padding-bottom: 8px;
    justify-content: space-between;
  }

  .productPriceInfo {
    display: flex;
    flex-direction: row;

    .oldPrice {
      color: var(--light-grey-color);
      align-self: end;
      text-decoration: line-through;
    }

    @media (max-width: 825px) {
      .productNumbers {
        align-items: end;
        align-content: end;

        .price {
          font-size: 22px;
          font-weight: 500;
          line-height: 22px;
        }

        .oldPrice {
          justify-self: center;
          font-size: 15px;
          font-weight: 550;
          line-height: 15px;
        }
      }
    }
  }

  .productQuality {
    grid-area: "rating";
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    min-width: 55px;

    .productRating {
      position: relative;
      max-width: 39px;
      padding-left: 15px;

      &::before {
        content: "";
        position: absolute;
        right: -4px;
        top: 3px;
        width: 17px;
        height: 14px;
        background-image: url("./images/star.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .productLikes {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        top: 4px;
        width: 14px;
        height: 14px;
        background-image: url("./images/heart.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .buttonContainer {
    grid-area: "btnCart";
    width: 294px;
    height: 54px;
  }

  &.small {
    .productNumbersContainer {
      justify-content: space-between;
      padding: 0;
      max-width: 259px;
      .productPriceInfo {
        margin-right: 12px;
      }
    }

    .buttonContainer {
      max-width: 152px;
      height: 45px;
    }

    .titleTypeSmall {
      text-align: left;
      font-weight: normal;
      text-overflow: ellipsis;
      height: 14px;
      padding-bottom: 14px;
      display: block;
      max-height: 54px;
      overflow: hidden;
      white-space: nowrap;
      max-width: 259px;
    }

    .productLikes::before {
      background-image: url("./images/heart-white.svg");
    }

    .productRating::before {
      background-image: url("./images/star-white.svg");
    }
  }
}
