.productInfo {
  display: flex;
  flex-direction: row;
  margin: 6px 12px 0;
  max-height: 96px;

  .productText {
    margin-top: 3px;
    display: flex;
    flex-direction: column;

    .titleContainer {
      display: flex;
      align-items: center;

      .productTitle {
        font-size: 60px;
        font-weight: 500;
        line-height: 52px;
        margin-right: 16px;
      }
    }

    .productSubTitle {
      text-align: left;
    }
  }

  .productNumbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .productNumbersContainer {
      display: flex;
      justify-content: space-between;

      .productPriceInfo {
        display: flex;
        flex-direction: row;
        justify-content: start;

        .price {
          text-align: center;
        }

        .oldPrice {
          color: var(--light-grey-color);
          font-size: 15px;
          font-weight: 550;
          line-height: 15px;
          text-align: left;
          align-self: end;
          text-decoration: line-through;
        }
      }

      .productQuality {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: left;
        min-width: 55px;

        .productRating {
          position: relative;
          max-width: 39px;
          padding-left: 5px;

          &::before {
            content: "";
            position: absolute;
            right: -14px;
            top: 2px;
            width: 17px;
            height: 14px;
            background-image: url("../../images/for-product-info/star.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
        }

        .productLikes {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            top: 1px;
            width: 14px;
            height: 14px;
            background-image: url("../../images/for-product-info/heart.svg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }
}
