.cardList {
  display: grid;
  gap: 45px;
  margin-top: 60px;

  &.ten,
  &.category {
    background: var(--blue-gradient-color);
    color: var(--white-color);
    display: grid;
    border-radius: 12px;
    padding: 139px 4px 33px;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    row-gap: 25px;
    column-gap: 3px;
    justify-items: center;

    h1 {
      font-size: 15px;
      font-weight: 550;
      line-height: 15px;
    }
  }

  &.category {
    padding-top: 12px;
    margin: 0;
    background: none;
    color: var(--black-color);
  }

  @media (max-width: 720px) {
    &.ten {
      padding: 48px 4px 27px;
    }

    &.caregory {
      padding: 0;
    }
    &.ten,
    &.category {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 600px) {
    &.ten,
    &.category {
      grid-template-columns: 1fr 1fr;
      row-gap: 28px;
    }
  }

  @media (max-width: 370px) {
    &.ten,
    &.category {
      grid-template-columns: 1fr 1fr;
    }
  }
}
