.categoryHeader {
  display: flex;
  flex-direction: column;
  padding: 56px 13px 0;

  @media (max-width: 675px) {
    padding: 12px 12px 0;
  }
}

.titleContainer {
  display: flex;
  padding-bottom: 16px;
}

.categoryTitle {
  padding-right: 10px;
}

.categorySubTitle {
  align-self: end;
  color: var(--grey-color);
  line-height: 27px;

  @media (max-width: 675px) {
    display: none;
  }
}
