.categoryName {
  position: relative;
  z-index: 100;

  &.sale {
    margin-bottom: -35px;

    img {
      transform: translateY(100px);
    }
  }

  &.category,
  &.category-sleep {
    margin-bottom: -160px;
    img {
      transform: translateY(101px);
    }
  }

  &.treasures {
    img {
      margin-bottom: -36px;
      transform: scale(123%) translate(95px, 66px);
    }
  }

  @media (max-width: 825px) {
    &.sale {
      margin-bottom: -44px;
      img {
        max-width: 139px;
        transform: translate(3px, 20px);
      }
    }

    &.category {
      margin-bottom: -87px;
      img {
        max-width: 291px;
        transform: translate(9px, 26px);
      }
    }

    &.category-sleep {
      margin-bottom: -86px;
      img {
        max-width: 245px;
        transform: translate(9px, 26px);
      }
    }

    &.treasures {
      margin-bottom: -64px;

      img {
        max-width: 350px;
        transform: translate(9px, 5px);
      }
    }
  }
}

.categoryImage {
  display: block;
  max-width: 789px;
}
