.categoryName {
  position: relative;
  z-index: 100;

  &.sale {
    margin-bottom: -25.5px;


    img {
      transform: translateY(100px);
    }
  }

  &.category {
    margin-bottom: -177.5px;
    img {
      transform: translateY(55px);
    }
  }

  &.treasures {
    img {
      margin-bottom: -36px;
      transform: scale(123%) translate(95px, 66px);
    }
  }
}

.categoryImage {
  display: block;
  max-width: 789px;
}
