.orderCard {
  display: flex;
  flex-direction: column;
  padding: 4px 4px 10px;
  margin-bottom: 28px;
  border-radius: 8px;
  object-fit: contain;
  height: 100%;
  width: 100%;
  background: var(--red-orange-gradient);
  color: var(--white-color);

  &.assembly,
  &.received,
  &.ship {
    color: var(--black-color);
    padding: 0;
    background: 0;
  }

  &.ready {
    max-width: fit-content;
  }
}

.orderCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-bottom: 10px;
}

.orderNumberContainer {
  display: flex;
}

.orderDate {
  display: flex;
  gap: 15px;
}
