.inputContainer {
  display: flex;
  position: relative;
  z-index: 2003;

  &::after {
    cursor: pointer;
    display: block;
    content: "";
    position: absolute;
    background-image: url("./images/search-icn.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: cover;
    left: 13px;
    top: 55%;
    transform: translateY(-50%);
  }

  @media (max-width: 720px) {
    position: fixed;
    left: 12px;
    right: 12px;
    top: 11px;
  }
}

@media (max-width: 720px) {
  .inputContainer::after {
    left: 12px;
    top: 46%;
  }
}

.inputArea {
  padding: 26px 0 16px 52px;
  width: 94%;
  background-color: var(--white-grey-color);
  outline: none;
  border: none;
  border-radius: 0 0 16px 16px;
  font-size: 22px;
  font-weight: 412;
  line-height: 22px;

  &::placeholder {
    color: var(--dark-grey-color);
  }

  @media (max-width: 720px) {
    padding: 13px 0 13px 53px;
    border-radius: 16px;
  }

  @media (max-width: 376px) {
    width: 351px;
  }
}
