.container {
    max-width: 1440px;
    height: 768px;
    background-image: url(../../images/for-promo-banner/promo-banner.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}