.catalog {
  .headerLogo {
    display: none;
  }
}

.catalogFilters {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.dropDownPanel {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: nowrap;
}

.filtersPanel {
  align-self: end;
}

.notFoundMessage {
  color: var(--grey-color);
}
