.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 90px;
  margin-right: 6px;
  transition: transform 0.3s ease;
  position: relative;
  text-align: center;

  &:nth-last-child(1) {
    margin: 0;
  }
}

.image {
  object-fit: cover;
  width: 90px;
  height: 90px;
  border-radius: 24px;
  padding-bottom: 6px;
}

.text {
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 90px;
  font-size: 12px;
  margin-top: 0px;
  line-height: 14px;
}
