.layoutContainer {
  position: relative;
  gap: 4px;
  max-height: 600px;
  border-radius: 16px;

  &.one {
    max-width: 100%;

    img {
      transform: translateY(-19%);
      max-width: 712px;
    }
  }

  &.two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.grey {
      img {
        max-width: 505px;
      }

      :nth-child(2) {
        img {
          max-width: 450px;
          transform: translateY(7%);
        }
      }
    }

    &.yellow {
      img {
        max-width: 929px;
        transform: translate(-82px, -84px);
      }

      :nth-child(2) {
        img {
          max-width: 721px;
          transform: translate(14px, -83px);
        }
      }
    }
  }

  .saleImage {
    z-index: 999;
    position: absolute;
    text-transform: lowercase;
    bottom: 6px;
    left: 12px;
    background-image: url("../../images/for-productImage/image.png");
    background-position: top left;
    width: 165px;
    text-align: center;
    border-radius: 4px;
  }

  .saleImage p {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 212, 56, 0.9);
    background-size: cover;
    padding: 2px 6px 2px;
    border-radius: 4px;
  }

  .saleValue {
    z-index: 998;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 65px;
    border-radius: 4px;
    padding-top: 2px;
    background-color: var(--light-grey-color);
    width: 77px;
    transform: rotate(-18deg) translate(12%, 87%);
  }
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  max-height: 600px;

  &.red {
    background-color: var(--red-color);
  }

  &.blue {
    background-color: var(--blue-color);
  }

  &.grey {
    background-color: var(--grey-color);
  }

  &.yellow {
    background-color: var(--yellow-color);
  }

  &.blueGradient {
    background: var(--blue-gradient-color);
  }

  .span {
    position: absolute;
  }

  .productImage {
    display: block;
    margin: auto;
  }

  &.ten {
    max-width: 283px;
  }

  .buttonContainer {
    position: absolute;
    top: 0;
    right: 0;
  }
}
