.layoutContainer {
  position: relative;
  gap: 4px;
  border-radius: 16px;

  img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
  }

  &.one {
    max-width: 100%;

    img {
      transform: translateY(-19%);
    }

    &.red {
      img {
        transform: translate(5%, -12%);
        max-width: 580px;
      }
    }

    &.blue {
      img {
        max-width: 714px;
      }
    }
  }

  &.two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.grey {
      img {
        transform: scale(107%) translateY(9px);
      }

      :nth-child(2) {
        img {
          transform: scale(91%) translateY(24px);
        }
      }
    }

    &.yellow {
      img {
        transform: scale(1.95) translate(12px, 100px);
      }

      :nth-child(2) {
        img {
          transform: translate(12px, 45px);
        }
      }
    }

    &.blue {
      img {
        transform: scale(1.95) translate(12px, 100px);
      }

      :nth-child(2) {
        img {
          transform: scale(1.5) translate(12px, 45px);
        }
      }
    }
  }

  &.wideAndShort {
    display: grid;
    grid-template-columns: 74.5% 25%;
    gap: 4px;

    :nth-child(2) {
      img {
        transform: scale(4) translate(68px, 146px);
      }
    }
  }

  &.four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    :first-of-type {
      img {
        transform: translate(17%, 10%) scale(3.8) rotate(23deg);
      }
    }

    :nth-child(2) {
      img {
        transform: translate(5%, 23%) scale(1.6) rotate(-7deg);
      }
    }

    :nth-child(3) {
      img {
        transform: translate(-5%, 67%) scale(1.1) rotate(2deg);
      }
    }

    :nth-child(4) {
      img {
        transform: translate(17%, 27%) scale(1.2) rotate(0deg);
      }
    }
  }

  .saleImage {
    z-index: 1;
    position: absolute;
    text-transform: lowercase;
    bottom: 9px;
    left: 14px;
    background-image: url('./images/for-productImage.png');
    background-position: top left;
    background-repeat: no-repeat;
    width: 157px;
    text-align: center;
    border-radius: 4px;
  }

  .saleImage p {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 212, 56, 0.9);
    background-size: cover;
    padding: 2px 6px 2px;
    border-radius: 4px;
  }

  .saleValue {
    z-index: 998;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 65px;
    border-radius: 4px;
    padding-top: 2px;
    background-color: var(--light-grey-color);
    width: 77px;
    transform: rotate(-17deg) translate(12%, 62%);
  }
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  max-height: 600px;

  &.red {
    background-color: var(--red-color);
  }

  &.blue {
    background-color: var(--blue-color);
  }

  &.grey {
    background-color: var(--grey-color);

    img {
      height: 600px;
    }
  }

  &.yellow {
    background-color: var(--yellow-color);
  }

  &.blueGradient {
    background: var(--blue-gradient-color);
  }

  .span {
    position: absolute;
  }

  .productImage {
    display: block;
    margin: auto;
  }

  &.ten {
    height: 376px;
    width: 280px;
  }

  .buttonContainer {
    position: absolute;
    top: 0;
    right: 0;
  }
}
