.layoutContainer {
  position: relative;
  gap: 4px;
  border-radius: 16px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.one {
    img {
      transform: translateY(-19%);
    }

    &.red {
      img {
        transform: translate(5%, -12%);
        max-width: 580px;
      }
    }

    &.blue {
      img {
        max-width: 714px;
      }
    }

    &.yellow {
      img {
        max-width: 979px;
        transform: translate(-37.5%, -5%);
      }
    }
  }

  &.one-fork {
    &.red {
      img {
        transform: translate(-1%, 11%) rotate(-16deg);
        max-width: 596px;
      }
    }
  }

  &.two,
  &.two-fake-rings,
  &.two-frodo,
  &.two-tshirts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 745px) {
      img {
        min-height: 240px;
      }
    }
  }

  &.two {
    &.grey {
      img {
        transform: scale(107%) translateY(9px);
      }

      :nth-child(2) {
        img {
          transform: scale(91%) translateY(24px);
        }
      }
    }

    &.yellow {
      img {
        transform: scale(1.95) translate(12px, 100px);
      }

      :nth-child(2) {
        img {
          transform: scale(1.5) translate(12px, 45px);
        }
      }
      @media (max-width: 745px) {
        display: flex;
        flex-direction: row-reverse;

        img {
          transform: none;
          object-fit: cover;
        }
      }
    }

    &.blue {
      img {
        min-height: 600px;
        transform: translate(7px, 75px) scale(1.1);
      }

      :nth-child(2) {
        img {
          transform: scale(1.3) translate(0px, 4px);
        }
      }
      @media (max-width: 745px) {
        grid-template-columns: repeat(2, 1fr);

        img {
          object-fit: cover;
          min-height: 240px;
        }
      }
    }
  }

  &.two-tshirts {
    &.yellow {
      img {
        transform: scale(2.17) translate(8px, 17px) rotate(-15deg);
      }

      :nth-child(2) {
        img {
          transform: scale(1.07) translate(-2px, 28px);
        }
      }
    }
  }

  &.two-fake-rings {
    &.grey {
      img {
        transform: scale(210%);
      }

      :nth-child(2) {
        img {
          transform: scale(150%);
        }
      }
    }
  }

  &.two-frodo {
    img {
      min-height: 600px;
    }
    &.grey {
      img {
        transform: scale(5) translate(-9px, 74px);
      }

      :nth-child(2) {
        img {
          transform: scale(2.1) translate(-1px, 13px);
        }
      }

      @media (max-width: 745px) {
        img {
          min-height: 240px;
          transform: none;
          object-fit: cover;
        }
      }
    }
  }

  &.wideAndShort,
  &.wideAndShort-family {
    display: grid;
    grid-template-columns: 74.5% 25%;
    gap: 4px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;

      :nth-child(2) {
        display: none;
      }
    }
  }

  &.wideAndShort {
    &.red {
      :nth-child(2) {
        img {
          transform: scale(4) translate(68px, 146px);
        }
      }
    }
  }

  &.wideAndShort-family {
    &.red {
      img {
        transform: scale(118%) translate(-145px, -3px);
      }

      :nth-child(2) {
        img {
          transform: scale(2.3) translate(-54px, 63px);
        }
      }
    }
  }

  &.four,
  &.four-rings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    min-height: 600px;

    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
      min-height: 240px;

      :nth-child(2),
      :nth-child(4) {
        display: none;
      }
    }
  }

  &.four {
    :first-of-type {
      img {
        transform: translate(17%, 10%) scale(3.8) rotate(23deg);
      }
    }

    :nth-child(2) {
      img {
        transform: translate(5%, 23%) scale(1.6) rotate(-7deg);
      }
    }

    :nth-child(3) {
      img {
        transform: translate(-7%, 36%) scale(1.1) rotate(2deg);
      }
    }

    :nth-child(4) {
      img {
        transform: translate(10%, 8%) scale(1.2) rotate(0deg);
      }
    }
  }

  &.four-rings {
    :first-of-type {
      img {
        transform: translate(35%, 1%) scale(1.79) rotate(-12deg);
      }
    }

    :nth-child(2) {
      img {
        transform: translate(-29%, 4%) scale(225%) rotate(3deg);
      }
    }

    :nth-child(3) {
      img {
        transform: translate(0%, -3%) scale(0.97) rotate(-67deg);
      }
    }

    :nth-child(4) {
      img {
        transform: translate(1%, 16%) rotate(21deg);
        max-width: 287px;
      }
    }
  }

  .saleImage {
    z-index: 1;
    position: absolute;
    text-transform: lowercase;
    bottom: 9px;
    left: 14px;
    background-image: url("./images/for-productImage.png");
    background-position: top left;
    background-repeat: no-repeat;
    width: 157px;
    text-align: center;
    border-radius: 4px;
  }

  .saleImage p {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 212, 56, 0.9);
    background-size: cover;
    padding: 2px 6px 2px;
    border-radius: 4px;
  }

  .saleValue {
    z-index: 998;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 65px;
    border-radius: 4px;
    padding-top: 2px;
    background-color: var(--light-grey-color);
    width: 77px;
    transform: rotate(-17deg) translate(12%, 62%);
  }

  @media (max-width: 400px) {
    .saleImage p {
      font-size: 15px;
      line-height: 15px;
      padding: 4px 6px 6px;
    }

    .saleImage {
      width: 115px;
    }

    .saleValue p {
      font-size: 15px;
    }

    .saleValue {
      width: 56px;
      bottom: 55px;
    }
  }
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  max-height: 600px;

  @media (max-width: 740px) {
    &.one,
    &.wideAndShort,
    &.wideAndShort-family {
      max-height: 240px;
      max-width: 100%;

      img {
        transform: none;
      }

      &.red {
        img {
          transform: none;
        }
      }

      &.blue {
        min-height: 494px;
        img {
          transform: none;
        }
      }
    }

    &.one,
    &.one-fork {
      &.red,
      &.yellow {
        min-height: 494px;
        img {
          transform: none;
        }
      }

      &.red {
        img {
          transform: none;
        }
      }
    }
  }

  &.red {
    background-color: var(--red-color);
  }

  &.blue {
    background-color: var(--blue-color);
  }

  &.grey {
    background-color: var(--grey-color);
  }

  &.yellow {
    background-color: var(--yellow-color);
  }

  &.blueGradient {
    background: var(--blue-gradient-color);
  }

  .span {
    position: absolute;
  }

  .productImage {
    display: block;
    margin: auto;
  }

  &.ten {
    height: 376px;
    width: 280px;

    @media (max-width: 720px) {
      &.ten {
        height: 240px;
        width: 181px;
      }
    }
  }

  .buttonContainer {
    position: absolute;
    top: 0;
    right: 0;
  }
}
