.selectbox {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  width: fit-content;

  @media (max-width: 675px) {
    margin-top: 9px;
  }

  &.default,
  &.colors {
    background-color: var(--white-grey-color);

    &::after {
      content: url("../dropdown-menu/images/arrow.svg");
      transition: transform 0.3s ease;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    transform: translate(-25px, 60%);
    transition: transform 0.3s ease;
    content: url("../dropdown-menu/images/arrow.svg");
  }

  &.enabled::after {
    top: -4px;
    transform: translate(-25px, 60%) rotate(180deg);
  }

  &:hover {
    background-color: var(--white-grey-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &.price {
    background-color: var(--white-grey-color);
  }

  @media (max-width: 675px) {
    &.price {
      background-color: var(--white-color);
      box-shadow: none;
      width: 100%;
    }
  }

  &.popup,
  &.popupColor {
    box-shadow: none;
    &::after {
      position: relative;
      display: none;
      padding: 0 12px 0;
    }
    h3 {
      font-size: 14px;
    }

    &:hover {
      background-color: var(--white-color);
    }
  }

  @media (max-width: 375px) {
    max-width: 351px;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.options {
  cursor: pointer;
  z-index: 1;
  margin-top: 3px;
  position: absolute;
  display: none;
  background-color: var(--white-grey-color);
  width: auto;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition:
    visibility 0.3s ease,
    transform 0.3s ease,
    opacity 0.3s ease;

  &.enabled {
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &.colors {
    right: 0;
  }

  &.popup,
  &.popupColor {
    background-color: var(--white-color);
    position: relative;
    visibility: visible;
    opacity: 1;
    transform: none;
  }

  @media (max-width: 675px) {
    &.price {
      background-color: var(--white-color);
      position: relative;
      visibility: visible;
      opacity: 1;
      transform: none;
    }
  }

  &.popup,
  &.popupColor {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transform: none;
  }

  &.price {
    right: 0;

    label {
      display: none;
    }
  }

  &.popup,
  &.default,
  &.colors {
    input {
      background-color: transparent;
      border: 1.5px solid var(--grey-color);
      transition:
        border-color 0.3s ease,
        background-color 0.3s ease;
      margin-right: 6px;
      width: 18px;
      height: 18px;
    }
  }

  &.popupColor {
    input {
      width: 44px;
      height: 44px;
    }

    p {
      display: none;
    }
  }

  &.popup {
    gap: 4px;
    display: flex;
    flex-wrap: wrap;
  }

  .inputItem {
    width: auto;
    appearance: none;
    border-radius: 5px;
    justify-items: center;
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease,
      transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }

    &.red {
      background-color: var(--red-color);
      border-color: var(--red-color);
    }

    &.orange {
      background-color: var(--orange-color);
      border-color: var(--orange-color);
    }

    &.pure-yellow {
      background-color: var(--pure-yellow-color);
      border-color: var(--pure-yellow-color);
    }

    &.green {
      background-color: var(--green-color);
      border-color: var(--green-color);
    }

    &.light-green {
      background-color: var(--light-green-color);
      border-color: var(--light-green-color);
    }

    &.light-blue {
      background-color: var(--light-blue-color);
      border-color: var(--light-blue-color);
    }

    &.pure-blue {
      background-color: var(--pure-blue-color);
      border-color: var(--pure-blue-color);
    }

    &.purple {
      background-color: var(--purple-color);
      border-color: var(--purple-color);
    }

    &.pink {
      background-color: var(--pink-color);
      border-color: var(--pink-color);
    }

    &.brown {
      background-color: var(--brown-color);
      border-color: var(--brown-color);

      &::after {
        color: white;
      }
    }

    &.light-gray {
      background-color: var(--almost-grey-color);
      border-color: var(--almost-grey-color);
    }

    &.gray {
      background-color: var(--pure-gray-color);
      border-color: var(--pure-gray-color);
    }

    &.black {
      background-color: var(--black-color);
      border-color: var(--black-color);

      &::after {
        color: white;
      }
    }

    &.rainbow {
      background: var(--rainbow-color);
      border: none;
    }

    &:checked {
      border: transparent;
      position: relative;
      border: 1px solid black;

      &::after {
        content: "✔";
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;
      }
    }

    &:hover {
      background-color: transparent;
    }
  }

  &.popup,
  &.popupColor,
  &.price {
    gap: 4px;
    display: flex;
    flex-wrap: wrap;

    .inputItem {
      border: none;

      &::after {
        content: "";
      }
    }
  }
}

.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  border-radius: 8px;
  border: none;
  background: none;
  text-decoration: none;
  display: flex;
  padding: 7.5px 10px 8.5px;
  text-align: left;
  white-space: nowrap;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;

  &:hover {
    background-color: var(--light-grey-color);
  }

  &.popupColor {
    padding: 0;
  }

  &.popup {
    background-color: var(--white-grey-color);

    &.checked {
      background-color: var(--grey-color);
    }

    p {
      margin-left: -25px;
    }
  }

  .popupTitle {
    font-size: 43px;
  }

  &.popupColor {
    background-color: var(--white-color);

    &.checked {
      opacity: 0.7;
      filter: brightness(0.8);
    }
  }

  @media (max-width: 475px) {
    p {
      font-size: 15px;
    }
  }
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 3px;

  p {
    color: var(--grey-color);
    max-width: 351px;
  }

  @media (max-width: 675px) {
    max-width: 100%;
    width: 100%;
  }
}

.priceInput {
  font-family: var(--font-inter);
  font-weight: 550;
  color: var(--black-color);
  outline: none;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--grey-color);
  max-width: 63px;

  ::placeholder {
    color: var(--gery-color);
  }

  @media (max-width: 675px) {
    width: 100%;
    max-width: 100%;
  }
}
