.sectionCategories {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 8px;
  justify-content: start;
  overflow-x: auto;
  overflow-y: hidden;

  .categoryIcon {
    flex: 0 0 auto;
    width: 150px;
    margin-right: 16px;
  }
}
