.sectionCategories {
  display: flex;
  flex-wrap: nowrap;
  margin: 8px 16px 0;
  justify-content: start;
  overflow-x: auto;
  overflow-y: hidden;

  @media (max-width: 376px) {
    margin: 8px 4px 0;
  }

  .categoryIcon {
    flex: 0 0 auto;
    width: 150px;
    margin-right: 16px;
  }
}
