@font-face {
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400; /* Обратите внимание на значение */
     font-display: swap;
     src: url("../../assets/fonts/Inter-Regular.woff2") format("woff2"),
          url("../../assets/fonts/Inter-Regular.woff") format("woff");
 }
 
 @font-face {
     font-family: 'Inter';
     font-style: normal;
     font-weight: 500; /* Исправлено на 500 */
     font-display: swap;
     src: url("../../assets/fonts/Inter-Medium.woff2") format("woff2"),
          url("../../assets/fonts/Inter-Medium.woff") format("woff");
 }
 
 @font-face {
     font-family: 'Inter';
     font-style: normal;
     font-weight: 700; /* Исправлено на 700 */
     font-display: swap;
     src: url("../../assets/fonts/Inter-Bold.woff2") format("woff2"),
          url("../../assets/fonts/Inter-Bold.woff") format("woff");
 }
 
 @font-face {
     font-family: 'ALS Hauss';
     src: url('../../assets/fonts/ALSHauss-Regular.woff2') format('woff2'),
          url('../../assets/fonts/ALSHauss-Regular.woff') format('woff');
     font-weight: 550;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'ALS Hauss';
     src: url('../../assets/fonts/ALSHauss-Bold.woff2') format('woff2'),
          url('../../assets/fonts/ALSHauss-Bold.woff') format('woff');
     font-weight: 850;
     font-display: swap;
 }