@font-face {
    font-family: 'Inter Variable';
    src: url('../../assets/fonts/InterVariable.woff2') format('woff2'),
         url('../../assets/fonts/InterVariable.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Variable';
    src: url('../../assets/fonts/InterVariable-Bold.woff2') format('woff2'),
         url('../../assets/fonts/InterVariable-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'ALS Hauss';
    src: url('../../assets/fonts/ALSHauss-Regular.woff2') format('woff2'),
         url('../../assets/fonts/ALSHauss-Regular.woff') format('woff');
    font-weight: 550;
    font-display: swap;
}

@font-face {
    font-family: 'ALS Hauss';
    src: url('../../assets/fonts/ALSHauss-Bold.woff2') format('woff2'),
         url('../../assets/fonts/ALSHauss-Bold.woff') format('woff');
    font-weight: 850;
    font-display: swap;
}