.button {
  text-align: center;
  color: var(--white-color);
  position: relative;
  border-color: transparent;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  padding: 14px 0 16px 0;
  transition:
    opacity 0.3s,
    transform 0.3s;

  &.red {
    background-color: var(--red-color);
    min-width: 294px;
    min-height: 54px;

    &:hover {
      background: var(--red-orange-gradient);
    }
  }
  &.like {
    width: 46px;
    height: 42px;
    background-image: url("../../images/for-btn-like/btn-like.svg");

    &:hover {
      background-image: url("../../images/for-btn-like/btn-like-hover.svg");
    }
  }
}

&:not(&.red):hover {
  opacity: 0.3;
}

&:not(:disabled):active {
  transform: translateY(1px);
}

&:disabled {
  cursor: auto;
  user-select: none;
  background-color: var(--light-grey-color);
  border: 0;
  color: white;
}
