.orderImageContainer {
  display: flex;
  border-radius: 8px;
  object-fit: contain;
  max-width: 101px;
}

.orderImage {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;

  &.red {
    background-color: var(--red-color);
  }

  &.blue {
    background-color: var(--blue-color);
  }

  &.grey {
    background-color: var(--grey-color);
  }

  &.yellow {
    background-color: var(--yellow-color);
  }

  &.orange {
    background-color: var(--yellow-color);
  }
}
