.footer {
  margin-top: 73px;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 22px 18px 38px 16px;
  background-color: var(--white-grey-color);
  color: var(--grey-color);

  .companyDetails {
    align-self: center;
    color: var(--grey-color);
  }

  .companyContacts {
    display: flex;
    align-items: center;

    .companyEmail {
      color: var(--grey-color);
    }

    .companySocial {
      padding-left: 28px;
    }
  }
}
