.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .headerLogo {
    cursor: pointer;
    padding-top: 20px;
    margin-right: 11px;
    align-self: start;
  }

  button {
    padding-right: 16px;
  }

  .headerNav {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 12px;
  }

  @media (max-width: 720px) {
    align-items: end;
    .headerNav {
      display: none;
      margin: 0;
    }
  }

  @media (max-width: 720px) {
    justify-content: space-between;
  }
}
